.cclear{
    clear: both;
}
.fshop-tichdiem{
    margin-bottom: 30px;
}
.fshop-tichdiem ul{
    list-style: none;
}

.Tddq_title {
    text-align:center;
    color:#d41212;
    margin: 10px 0;
}
.Tddq_title h2{
    font-size: 1.8em;
    margin: 10px 0;
}
.Tddq_title p {
    font-size:1.5em;
    font-style:italic;
    color:#000000;
}


.Tddq_content {
    border:3px solid #d41212;
    background:url('../../images/tichdiem/bg-pros.png') no-repeat top right;
}

.Tddq_pros_tittle {
    height:35px;
    color:#fff;
    background-color:#d41212;
    text-align:center;
    font-weight:bold;
    padding-top:7px;
    font-size: 1.2em;
}

.Tddq_list_pros {
    margin-bottom:15px;
}
.Tddq_list_pros_p{
    color:#d41212;
    padding: 4px 30px 4px 15px;
    clear: both;
    font-weight:bold;
    margin-top:10px;
}
.Tddq_list_tt {
    height:22px;
    display:block;
}

.Tddq_list_a {
    float: left;
    margin:10px 0 0 30px;
}
.Tddq_list_a p {
    color:#000;
}
.Tddq_list_a span {
    color:#ff0000;
    padding-left:5px;
}

.Tddq_list_b {
    margin: 2px 0 0 30px;
}
.Tddq_list_b span {
    font-weight:bold;
}
.Tddq_list_b ul{
    display: inline-block;
}
.Tddq_list_b ul li{
    margin: 10px 0;
}
.Tddq_list_b img{
    padding-top: 5px;
    float: left;
}

.Tddq_list_c_note {
    margin-left:30px;
}
.Tddq_list_c_n1{
    margin-top:10px;
}
.Tddq_list_c_n2 {
    height:30px;
    width:300px;
    border-radius:15px;
    background:url('../../images/tichdiem/img-pros-c.png') repeat-x;
    color:#fff;
    font-weight:bold;
    text-align:center;
    padding-top:7px;
    margin-top:10px;
}
.Tddq_list_c_n3 {
    font-style:italic;
    padding-top:8px;
}


.Tddq_list_c_table table.Tddq_c_table1{
    width:910px;
    margin-left:32px;
    text-align:center;
    border: 1px solid #333333;
    margin-top:20px;
    line-height: 1.2em
}
.Tddq_list_c_table table.Tddq_c_table1 tr.Tddq_c_tb {
    background-color:#333333;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
}
.Tddq_list_c_table table.Tddq_c_table1 tr td{
    border: 1px solid #333333;
    padding: 3px 0;
}
.Tddq_col1 { width:10%; }
.Tddq_col2 { width:20%; }
.Tddq_col3 { width:50%; }
.Tddq_col4 { width:20%; }
.Tddq_col4 img { width:70px; }

.Tddq_list_d p {
    margin-left:30px;
    line-height:1.6em;
}
.Tddq_list_d a {
    color:#4800ff;
}
.Tddq_list_e {
    margin-left:30px;
    line-height:1.5em;

}
.Tddq_list_e h2 {
    font-size: 1em;
    margin-top:10px;
}

.gift_note {
    line-height: 32px;
}
