@model webanhnguyen.Models.tbl_header

    <div class="span10 top-logo-grid">
        <div class="top-logo">
            <div class="ty-logo-container">
                <a href="/Home/Index" title="">
                    <img src="~/@Model.image" width="255" height="78" alt="@ViewBag.shoptitle" class="ty-logo-container__image">
                </a>
            </div>
        </div>
    </div>
    <div class="span6 cart-content-grid">
    <div class="ty-wysiwyg-content">
        <p style="text-align: right; font-size: 24px;">
            <span class="fa fa-phone"></span> @Model.phone1 - @Model.phone2
        </p>
    </div>

 
