@model IEnumerable<webanhnguyen.Models.tbl_Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 ">
                <div class="ty-mainbox-simple-container clearfix homepage-on-sale">
                    <h2 class="ty-mainbox-simple-title">
                        Top bán chạy nhất
                    </h2>
                    <div class="ty-mainbox-simple-body">
                        <script type="text/javascript" src="~/Scripts/exceptions.js"></script>
                        <script type="text/javascript" src="~/Scripts/product_image_gallery.js"></script>
                        <div class="grid-list">
                            @{ Html.RenderAction("Hot_Product", "Home");}
                        </div>
                    </div>
                </div>
                <div class="ty-mainbox-simple-container clearfix homepage-fresh-seafoods">
                    <h2 class="ty-mainbox-simple-title">
                        Điện thoại
                    </h2>
                    <div class="ty-mainbox-simple-body">
                        <div class="grid-list">
                            @{ Html.RenderAction("HaiSanTuoiSong", "Home");}
                        </div>
                    </div>
                </div>
                <div class="ty-mainbox-simple-container clearfix homepage-frozen-seafoods">
                    <h2 class="ty-mainbox-simple-title">
                        Tablet
                    </h2>
                    <div class="ty-mainbox-simple-body">
                        <div class="grid-list">
                           @{ Html.RenderAction("HaiSanDongLanh", "Home");}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ty-mainbox-container clearfix">
                <h1 class="ty-mainbox-title">

                    Tin <font color="#07ca75">công nghệ</font>

                </h1>
                @{ Html.RenderAction("monanmoingay", "Home");}
        </div>
    </div>
</div>
</div>

