@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@Html.Action("Topbanchay","Home")
<div class="row main-content">
    <!--product list box-->
    @Html.Action("Laysanpham","Home")
    <!--end product list box-->
    <!--right sidebar box-->
    <div class="col-md-4 hidden-sm hidden-xs right-sidebar">
        @Html.Action("tincongnghe","Home")
        <div class="deliver-box">
            <img src="~/Content/v3/images/ads/201406051806116130_Giao-hang.gif" title="" alt="" />
        </div>
        <!--free consulting box-->
        <!--end free consulting box-->
        <!--news box-->
        <!--end news box-->
        <!--ads box-->
        <!--end ads box-->
    </div>
    <!--end right sidebar box-->
</div>

