@model IEnumerable<webanhnguyen.Models.tbl_Product>
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    <div class="best-seller">
        <div class="best-seller-title clearfix">
            <h3 class="left">Top bán chạy nhất</h3>
            <a href="bang-xep-hang.html" target="_blank" class="best-seller-more right">Xem thêm <i class="fa fa-angle-right"></i> </a>
        </div>
        <div class="best-seller-content">
            <div class="best-seller-list">
                <!-- Slider main container -->
                <div class="swiper-container best-seller-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="p-label icons best-seller-label">1</div> <a href="dien-thoai/samsung-galaxy-j7-prime.html" title="Samsung Galaxy J7 Prime" class="p-link-prod"></a> <figure class="p-image"> <span> <a href="dien-thoai/samsung-galaxy-j7-prime.html" title="Samsung Galaxy J7 Prime"> <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/2016/8/24/636076253101785054_j7-prime-1-cell.png" alt="Samsung Galaxy J7 Prime" /> </a> </span> </figure> <div class="p-info">
                                <div class="p-top-info"> <div class="p-name"> <h3><a href="dien-thoai/samsung-galaxy-j7-prime.html" title="Samsung Galaxy J7 Prime">Samsung Galaxy J7 Prime</a> </h3> </div> <div class="p-price">     <span class="p-current-price">6.290.000<span>đ</span></span>     </div> </div> <div class="p-hide-info">
                                    <div class="p-promotion">
                                        <p>Đặt Online nhận ngay khuyến m&atilde;i:</p>

                                        <ul>
                                            <li>Trả g&oacute;p Home Credit, 0% l&atilde;i suất, trả trước 30%, kỳ hạn 4 th&aacute;ng <strong>Hoặc</strong> Trả g&oacute;p HD SAISON, l&atilde;i suất 1%, trả trước 0đ, kỳ hạn 6 th&aacute;ng&nbsp;<strong>Hoặc</strong> Phiếu mua h&agrave;ng phụ kiện <strong>200.000đ Hoặc&nbsp;</strong>Giảm 50% combo phụ kiện: combo Silver chỉ 399.000đ, combo Diamond chỉ 699.000đ</li>
                                            <li>G&oacute;i bảo hiểm 1 đổi 1 trị gi&aacute; <b>6.290.000đ</b></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                       <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="p-label icons best-seller-label">2</div> <a href="dien-thoai/oppo-f1s.html" title="OPPO F1s" class="p-link-prod"></a> <figure class="p-image"> <span> <a href="dien-thoai/oppo-f1s.html" title="OPPO F1s"> <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/2016/8/27/636078853201649501_Khung-anh-1-o-San-Pham.png" alt="OPPO F1s" /> </a> </span> </figure> <div class="p-info">
                                <div class="p-top-info"> <div class="p-name"> <h3><a href="dien-thoai/oppo-f1s.html" title="OPPO F1s">OPPO F1s</a> </h3> </div> <div class="p-price">     <span class="p-current-price">5.990.000<span>đ</span></span>     </div> </div> <div class="p-hide-info">
                                    <div class="p-promotion">
                                        <p>Đặt Online nhận ngay khuyến m&atilde;i:</p>

                                        <ul>
                                            <li>Trả g&oacute;p Home Credit, 0% l&atilde;i suất, trả trước 30%, kỳ hạn 4 th&aacute;ng Hoặc HD Saison, 1% l&atilde;i suất, trả trước 0đ, kỳ hạn 6 th&aacute;ng</li>
                                            <li>2 Ốp lưng si&ecirc;u kool</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                       <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="p-label icons best-seller-label">3</div> <a href="dien-thoai/oppo-a37-a37f.html" title="OPPO A37 (Neo 9)" class="p-link-prod"></a> <figure class="p-image"> <span> <a href="dien-thoai/oppo-a37-a37f.html" title="OPPO A37 (Neo 9)"> <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/2016/7/13/636039945397320000_oppo-a37f.png" alt="OPPO A37 (Neo 9)" /> </a> </span> </figure> <div class="p-info">
                                <div class="p-top-info"> <div class="p-name"> <h3><a href="dien-thoai/oppo-a37-a37f.html" title="OPPO A37 (Neo 9)">OPPO A37 (Neo 9)</a> </h3> </div> <div class="p-price">     <span class="p-current-price">3.690.000<span>đ</span></span>     </div> </div> <div class="p-hide-info">
                                    <div class="p-promotion">
                                        <p>Đặt Online nhận ngay khuyến m&atilde;i:</p>

                                        <ul>
                                            <li>Trả g&oacute;p Home Credit, 0% l&atilde;i suất, trả trước 30%, kỳ hạn 4 th&aacute;ng</li>
                                            <li>Cơ hội tr&uacute;ng 1 trong 50 m&aacute;y OPPO F1s trị gi&aacute;&nbsp;<strong>5.990.000đ</strong></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                       <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="p-label icons best-seller-label">4</div> <a href="dien-thoai/iphone-5s-16gb.html" title="iPhone 5s 16GB" class="p-link-prod"></a> <figure class="p-image"> <span> <a href="dien-thoai/iphone-5s-16gb.html" title="iPhone 5s 16GB"> <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/2014/11/6/201411061131588311_iphone-5s-1-o.jpg" alt="iPhone 5s 16GB" /> </a> </span> </figure> <div class="p-info">
                                <div class="p-top-info"> <div class="p-name"> <h3><a href="dien-thoai/iphone-5s-16gb.html" title="iPhone 5s 16GB">iPhone 5s 16GB</a> </h3> </div> <div class="p-price">     <span class="p-current-price">6.999.000<span>đ</span></span>     </div> </div> <div class="p-hide-info">
                                    <div class="p-promotion">
                                        <p>Đặt Online nhận ngay khuyến m&atilde;i:</p>

                                        <ul>
                                            <li>Mua Online giảm ngay<strong> 700.000đ</strong> gi&aacute; chỉ c&ograve;n <strong>6.299.000đ.</strong> Kh&ocirc;ng &aacute;p dụng khuyến mại kh&aacute;c, trả g&oacute;p 0%, 0đ, ưu đ&atilde;i l&atilde;i suất.</li>
                                            <li>Trả g&oacute;p Home Credit/HD Saison, 0% l&atilde;i suất, trả trước 50%, kỳ hạn 4 th&aacute;ng</li>
                                            <li>Phiếu mua Macbook trị gi&aacute; <b>500.000đ</b></li>
                                            <li>Giảm 50% Bảo h&agrave;nh v&agrave;ng Xem chi tiết</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                       <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="p-label icons best-seller-label">5</div> <a href="dien-thoai/coolpad-sky-3.html" title="Coolpad SKY 3" class="p-link-prod"></a> <figure class="p-image"> <span> <a href="dien-thoai/coolpad-sky-3.html" title="Coolpad SKY 3"> <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/2016/10/12/636118863691674599_prod1.png" alt="Coolpad SKY 3" /> </a> </span> </figure> <div class="p-info">
                                <div class="p-top-info"> <div class="p-name"> <h3><a href="dien-thoai/coolpad-sky-3.html" title="Coolpad SKY 3">Coolpad SKY 3</a> </h3> </div> <div class="p-price">     <span class="p-current-price">3.490.000<span>đ</span></span>     </div> </div> <div class="p-hide-info">
                                    <div class="p-promotion">
                                        <p>Đặt Online nhận ngay khuyến m&atilde;i:</p>

                                        <ul>
                                            <li>Trả g&oacute;p FE Credit, 1% l&atilde;i suất, trả trước 0đ, kỳ hạn 6 th&aacute;ng Hoặc Trả g&oacute;p Home Credit, 0% l&atilde;i suất, trả trước 30%, kỳ hạn 4 th&aacute;ng</li>
                                            <li>Gift box trị gi&aacute; <b>350.000đ</b> Hoặc phiếu mua h&agrave;ng<b> 100.000đ</b></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                       <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="p-label icons best-seller-label">6</div> <a href="dien-thoai/samsung-galaxy-j5-2016.html" title="Samsung Galaxy J5 2016" class="p-link-prod"></a> <figure class="p-image"> <span> <a href="dien-thoai/samsung-galaxy-j5-2016.html" title="Samsung Galaxy J5 2016"> <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/2016/4/23/635970089144007260_j5-1o.png" alt="Samsung Galaxy J5 2016" /> </a> </span> </figure> <div class="p-info">
                                <div class="p-top-info"> <div class="p-name"> <h3><a href="dien-thoai/samsung-galaxy-j5-2016.html" title="Samsung Galaxy J5 2016">Samsung Galaxy J5 2016</a> </h3> </div> <div class="p-price">     <span class="p-current-price">4.990.000<span>đ</span></span>     </div> </div> <div class="p-hide-info">
                                    <div class="p-promotion">
                                        <p>Đặt Online nhận ngay khuyến m&atilde;i:</p>

                                        <ul>
                                            <li>Cơ hội tr&uacute;ng 1 trong 500 L&ograve; vi s&oacute;ng</li>
                                            <li>Trả g&oacute;p Home Credit, 0% l&atilde;i suất, trả trước 30%, kỳ hạn 4 th&aacute;ng Hoặc Phiếu mua h&agrave;ng phu kiện trị gi&aacute; <b>150.000đ</b></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 ">
                <div class="ty-mainbox-simple-container clearfix homepage-on-sale">
                    <h2 class="ty-mainbox-simple-title">
                        Top bán chạy nhất
                    </h2>
                    <div class="ty-mainbox-simple-body">
                        <script type="text/javascript" src="~/Scripts/exceptions.js"></script>
                        <script type="text/javascript" src="~/Scripts/product_image_gallery.js"></script>
                        <div class="grid-list">
                            @{ Html.RenderAction("Hot_Product", "Home");}
                        </div>
                    </div>
                </div>
                <div class="ty-mainbox-simple-container clearfix homepage-fresh-seafoods">
                    <h2 class="ty-mainbox-simple-title">
                        Điện thoại
                    </h2>
                    <div class="ty-mainbox-simple-body">
                        <div class="grid-list">
                            @{ Html.RenderAction("HaiSanTuoiSong", "Home");}
                        </div>
                    </div>
                </div>
                <div class="ty-mainbox-simple-container clearfix homepage-frozen-seafoods">
                    <h2 class="ty-mainbox-simple-title">
                        Tablet
                    </h2>
                    <div class="ty-mainbox-simple-body">
                        <div class="grid-list">
                           @{ Html.RenderAction("HaiSanDongLanh", "Home");}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ty-mainbox-container clearfix">
                <h1 class="ty-mainbox-title">

                    Tin <font color="#07ca75">công nghệ</font>

                </h1>
                @{ Html.RenderAction("monanmoingay", "Home");}
        </div>
    </div>
</div>
</div>*@

