@model  webanhnguyen.Models.tbl_header
@{
    ViewBag.Title = "Tiêu đề shop";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content" style="min-height: 530px;">
    <h3>Tùy chỉnh header website</h3>
    <div class="bs-example bs-example-bg-classes">
        @if (ViewData["Error"] != null)
            {
            <p class="bg-warning">@ViewData["Error"]</p>
        }
    </div>
    <div class="block">
        <div class="block-content">
            <form method="post" name="frmForm" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Hotline
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="phone1" class="form-control" value="@Model.phone1" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Số điện thoại
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="phone2" class="form-control" value="@Model.phone2" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Chọn hình cho header
                    </label>
                    <div class="col-sm-6">
                        <div class="file-input file-input-new">
                            <div class="btn btn-primary btn-file btn-image-">
                                <i class="glyphicon glyphicon-folder-open">
                                    Browse ...
                                </i>
                                <input name="fileUpload" type="file" class="" id="txtImage" onchange="readURL(this);" style="width: 100%; height: 100%;" /><br />
                            </div>
                            <input type="checkbox" name="chkClearImg" value="on" /> Xóa bỏ hình ảnh
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Chọn icon cho tiêu đề website
                    </label>
                    <div class="col-sm-6">
                        <div class="file-input file-input-new">
                            <div class="btn btn-primary btn-file btn-image-">
                                <i class="glyphicon glyphicon-folder-open">
                                    Browse ...
                                </i>
                                <input name="fileUpload2" type="file" class="" id="txtImageIcon" onchange="readURL(this);" style="width: 100%; height: 100%;" /><br />
                            </div>
                            <input type="checkbox" name="chkClearImgIcon" value="on" /> Xóa bỏ hình ảnh
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 btn-gr">
                        <button type="submit" name="btnSave" class="btn btn-default">Chấp nhận</button>
                        <button onclick="goBack()" type="button" name="goback" class="btn btn-default">Quay lại</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>