.fm-tgmain {
    position: relative;
    margin-bottom: 40px;
}

    .fm-tgmain ul {
        list-style: none;
    }

.fm-tgbox {
    width: 130px;
    float: left;
    color: #0c6fd2;
}

.fm-tgslider {
    margin-left: 130px;
}

.fm-tgs-i {
    width: 180px; 
}

.trg-plul li div {
    display: table;
    width: 100%;
    padding: 0 5px;
}

    .trg-plul li div span {
        display: table-cell;
        vertical-align: middle;
        height: 32px;
        width: 100%;
        font-size: 13px;
    }

.trg-plul li.tr0 {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.trg-plul li {
    position: relative;
    display: block;
    height: 32px;
}

    .trg-plul li.tr0 {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .trg-plul li.tr1 {
        background: #f6f6f6;
        line-height: 1;
    }

    .trg-plul li.tr2,
    .trg-plul li.tr4 {
        background: #ffffff;
    }

.fm-tgslbox .fm-tgs-i:nth-child(2) li.tr1 {
    background: #f3f3f3;
}

.trg-plul li.tr3,
.trg-plul li.tr3 div span {
    height: 40px;
    line-height: 1;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
}

.trg-plul li.tr4 {
    height: 90px;
}

.trg-plul li.tr5 {
    height: 53px;
}

.fm-tgslider ul li {
    text-align: center;
}

.fm-tgslider .fm-tgs-i:nth-child(1) .trg-plul .tr0 {
    background: #e08212;
}

.fm-tgslider .fm-tgs-i:nth-child(1) .trg-plul .tr3 {
    background: #f99118;
}

.fm-tgslider .fm-tgs-i:nth-child(2) .trg-plul .tr0 {
    background: #c24312;
}

.fm-tgslider .fm-tgs-i:nth-child(2) .trg-plul .tr3 {
    background: #e85621;
}

.fm-tgslider .fm-tgs-i:nth-child(3) .trg-plul .tr0 {
    background: #5d9a3c;
}

.fm-tgslider .fm-tgs-i:nth-child(3) .trg-plul .tr3 {
    background: #72b74c;
}

.fm-tgslider .fm-tgs-i .trg-plul .tr4 {
    background: #ebebeb;
}

.fm-tgslider li.tr4 .tr-mnimg {
    padding: 5px 0;
}

    .fm-tgslider li.tr4 .tr-mnimg img {
        height: 33px;
    }

.tr-btnmn a {
    display: inline-block;
    padding: 8px 20px;
    margin: 5px auto;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fm-tgslider .fm-tgs-i:nth-child(1) ul li .tr-btnmn a {
    border: 1px solid #f38c14;
    background: linear-gradient(to top, #FF8A01 0%, #F29A33 100%);
    background: -moz-linear-gradient(to top, #FF8A01 0%, #F29A33 100%);
    background: -o-linear-gradient(to top, #FF8A01 0%, #F29A33 100%);
    background: -ms-linear-gradient(to top, #FF8A01 0%, #F29A33 100%);
    background: -webkit-linear-gradient(bottom, #FF8A01 0%, #F29A33 100%);
}

.fm-tgslider .fm-tgs-i:nth-child(2) ul li .tr-btnmn a {
    border: 1px solid #e85119;
    background: linear-gradient(to top, #E85621 0%, #F4612C 100%);
    background: -moz-linear-gradient(to top, #E85621 0%, #F4612C 100%);
    background: -o-linear-gradient(to top, #E85621 0%, #F4612C 100%);
    background: -ms-linear-gradient(to top, #E85621 0%, #F4612C 100%);
    background: -webkit-linear-gradient(bottom, #E85621 0%, #F4612C 100%);
}

.fm-tgslider .fm-tgs-i:nth-child(3) ul li .tr-btnmn a {
    border: 1px solid #67b53e;
    background: linear-gradient(to top, #72B74C 0%, #7BC15C 100%);
    background: -moz-linear-gradient(to top, #72B74C 0%, #7BC15C 100%);
    background: -o-linear-gradient(to top, #72B74C 0%, #7BC15C 100%);
    background: -ms-linear-gradient(to top, #72B74C 0%, #7BC15C 100%);
    background: -webkit-linear-gradient(bottom, #72B74C 0%, #7BC15C 100%);
}

.fm-tgbox a.tgp-ttip > label {
    position: absolute;
    left: 50px;
    margin-left: 0;
}

.fm-tgs-i ul li div span sup {
    font-size: 18px;
    text-transform: none;
    position: relative;
    top: -15px;
}
.fm-tgmain {
    display: none;
}
@media (max-width: 768px) { 
    .trg-sec1 {
        display: none;
    }
    .fm-tgmain {
        display: block;
    }
}
