@model webanhnguyen.Models.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 breadcrumbs-grid">
                <div id="breadcrumbs_73">

                    <div class="ty-breadcrumbs clearfix">
                        <a href="/Home/Index" class="ty-breadcrumbs__a">Trang chủ</a><span class="ty-breadcrumbs__slash">/</span><span class="ty-breadcrumbs__current">Registration</span>
                    </div>
                    <!--breadcrumbs_73-->
                </div>
            </div>
        </div>
@using (Html.BeginForm("Register", "User", FormMethod.Post, new { enctype = "multipart/form-data", @id = "mycoolform" }))
{

        <div class="row-fluid ">
            <div class="span16 main-content-grid">
                <div class="ty-mainbox-container clearfix">
                    <h1 class="ty-mainbox-title">
                        Đăng ký tài khoản mới
                    </h1>
                    <div class="ty-mainbox-body">
                        <script type="text/javascript">
                            (function (_, $) {

                                /* Do not put this code to document.ready, because it should be
                                   initialized first
                                */
                                $.ceRebuildStates('init', {
                                    default_country: 'VN',
                                    states: { "VN": [{ "country_code": "VN", "code": "92", "state": "Th\u00e0nh Ph\u1ed1 C\u1ea7n Th\u01a1" }, { "country_code": "VN", "code": "01", "state": "Th\u00e0nh Ph\u1ed1 H\u00e0 N\u1ed9i" }, { "country_code": "VN", "code": "31", "state": "Th\u00e0nh Ph\u1ed1 H\u1ea3i Ph\u00f2ng" }, { "country_code": "VN", "code": "79", "state": "Th\u00e0nh Ph\u1ed1 H\u1ed3 Ch\u00ed Minh" }, { "country_code": "VN", "code": "48", "state": "Th\u00e0nh Ph\u1ed1 \u0110\u00e0 N\u1eb5ng" }, { "country_code": "VN", "code": "89", "state": "T\u1ec9nh An Giang" }, { "country_code": "VN", "code": "77", "state": "T\u1ec9nh B\u00e0 R\u1ecba - V\u0169ng T\u00e0u" }, { "country_code": "VN", "code": "24", "state": "T\u1ec9nh B\u1eafc Giang" }, { "country_code": "VN", "code": "06", "state": "T\u1ec9nh B\u1eafc K\u1ea1n" }, { "country_code": "VN", "code": "95", "state": "T\u1ec9nh B\u1ea1c Li\u00eau" }, { "country_code": "VN", "code": "27", "state": "T\u1ec9nh B\u1eafc Ninh" }, { "country_code": "VN", "code": "83", "state": "T\u1ec9nh B\u1ebfn Tre" }, { "country_code": "VN", "code": "74", "state": "T\u1ec9nh B\u00ecnh D\u01b0\u01a1ng" }, { "country_code": "VN", "code": "70", "state": "T\u1ec9nh B\u00ecnh Ph\u01b0\u1edbc" }, { "country_code": "VN", "code": "60", "state": "T\u1ec9nh B\u00ecnh Thu\u1eadn" }, { "country_code": "VN", "code": "52", "state": "T\u1ec9nh B\u00ecnh \u0110\u1ecbnh" }, { "country_code": "VN", "code": "96", "state": "T\u1ec9nh C\u00e0 Mau" }, { "country_code": "VN", "code": "04", "state": "T\u1ec9nh Cao B\u1eb1ng" }, { "country_code": "VN", "code": "64", "state": "T\u1ec9nh Gia Lai" }, { "country_code": "VN", "code": "02", "state": "T\u1ec9nh H\u00e0 Giang" }, { "country_code": "VN", "code": "35", "state": "T\u1ec9nh H\u00e0 Nam" }, { "country_code": "VN", "code": "42", "state": "T\u1ec9nh H\u00e0 T\u0129nh" }, { "country_code": "VN", "code": "30", "state": "T\u1ec9nh H\u1ea3i D\u01b0\u01a1ng" }, { "country_code": "VN", "code": "93", "state": "T\u1ec9nh H\u1eadu Giang" }, { "country_code": "VN", "code": "17", "state": "T\u1ec9nh H\u00f2a B\u00ecnh" }, { "country_code": "VN", "code": "33", "state": "T\u1ec9nh H\u01b0ng Y\u00ean" }, { "country_code": "VN", "code": "56", "state": "T\u1ec9nh Kh\u00e1nh H\u00f2a" }, { "country_code": "VN", "code": "91", "state": "T\u1ec9nh Ki\u00ean Giang" }, { "country_code": "VN", "code": "62", "state": "T\u1ec9nh Kon Tum" }, { "country_code": "VN", "code": "12", "state": "T\u1ec9nh Lai Ch\u00e2u" }, { "country_code": "VN", "code": "68", "state": "T\u1ec9nh L\u00e2m \u0110\u1ed3ng" }, { "country_code": "VN", "code": "20", "state": "T\u1ec9nh L\u1ea1ng S\u01a1n" }, { "country_code": "VN", "code": "10", "state": "T\u1ec9nh L\u00e0o Cai" }, { "country_code": "VN", "code": "80", "state": "T\u1ec9nh Long An" }, { "country_code": "VN", "code": "36", "state": "T\u1ec9nh Nam \u0110\u1ecbnh" }, { "country_code": "VN", "code": "40", "state": "T\u1ec9nh Ngh\u1ec7 An" }, { "country_code": "VN", "code": "37", "state": "T\u1ec9nh Ninh B\u00ecnh" }, { "country_code": "VN", "code": "58", "state": "T\u1ec9nh Ninh Thu\u1eadn" }, { "country_code": "VN", "code": "25", "state": "T\u1ec9nh Ph\u00fa Th\u1ecd" }, { "country_code": "VN", "code": "54", "state": "T\u1ec9nh Ph\u00fa Y\u00ean" }, { "country_code": "VN", "code": "44", "state": "T\u1ec9nh Qu\u1ea3ng B\u00ecnh" }, { "country_code": "VN", "code": "49", "state": "T\u1ec9nh Qu\u1ea3ng Nam" }, { "country_code": "VN", "code": "51", "state": "T\u1ec9nh Qu\u1ea3ng Ng\u00e3i" }, { "country_code": "VN", "code": "22", "state": "T\u1ec9nh Qu\u1ea3ng Ninh" }, { "country_code": "VN", "code": "45", "state": "T\u1ec9nh Qu\u1ea3ng Tr\u1ecb" }, { "country_code": "VN", "code": "94", "state": "T\u1ec9nh S\u00f3c Tr\u0103ng" }, { "country_code": "VN", "code": "14", "state": "T\u1ec9nh S\u01a1n La" }, { "country_code": "VN", "code": "72", "state": "T\u1ec9nh T\u00e2y Ninh" }, { "country_code": "VN", "code": "34", "state": "T\u1ec9nh Th\u00e1i B\u00ecnh" }, { "country_code": "VN", "code": "19", "state": "T\u1ec9nh Th\u00e1i Nguy\u00ean" }, { "country_code": "VN", "code": "38", "state": "T\u1ec9nh Thanh H\u00f3a" }, { "country_code": "VN", "code": "46", "state": "T\u1ec9nh Th\u1eeba Thi\u00ean Hu\u1ebf" }, { "country_code": "VN", "code": "82", "state": "T\u1ec9nh Ti\u1ec1n Giang" }, { "country_code": "VN", "code": "84", "state": "T\u1ec9nh Tr\u00e0 Vinh" }, { "country_code": "VN", "code": "08", "state": "T\u1ec9nh Tuy\u00ean Quang" }, { "country_code": "VN", "code": "86", "state": "T\u1ec9nh V\u0129nh Long" }, { "country_code": "VN", "code": "26", "state": "T\u1ec9nh V\u0129nh Ph\u00fac" }, { "country_code": "VN", "code": "15", "state": "T\u1ec9nh Y\u00ean B\u00e1i" }, { "country_code": "VN", "code": "66", "state": "T\u1ec9nh \u0110\u1eafk L\u1eafk" }, { "country_code": "VN", "code": "67", "state": "T\u1ec9nh \u0110\u1eafk N\u00f4ng" }, { "country_code": "VN", "code": "11", "state": "T\u1ec9nh \u0110i\u1ec7n Bi\u00ean" }, { "country_code": "VN", "code": "75", "state": "T\u1ec9nh \u0110\u1ed3ng Nai" }, { "country_code": "VN", "code": "87", "state": "T\u1ec9nh \u0110\u1ed3ng Th\u00e1p" }] }
                                });



                                $.ceFormValidator('setZipcode', {
                                    US: {
                                        regexp: /^(\d{5})(-\d{4})?$/,
                                        format: '01342 (01342-5678)'
                                    },
                                    CA: {
                                        regexp: /^(\w{3} ?\w{3})$/,
                                        format: 'K1A OB1 (K1AOB1)'
                                    },
                                    RU: {
                                        regexp: /^(\d{6})?$/,
                                        format: '123456'
                                    }
                                });


                            }(Tygh, Tygh.$));
                        </script>


                        <div class="ty-account">

                            <form name="profiles_register_form" action="/Home/Index" method="post">
                                                                <div class="ty-control-group">
                                    <label for="email1" class="ty-control-group__title cm-required cm-email cm-trim">Email</label>
                                    <input type="text" id="email1" name="email1" size="32" maxlength="128" value="" class="ty-input-text" />
                                </div>

                                <div class="ty-control-group">
                                    <label for="password1" class="ty-control-group__title cm-required cm-password">Mật khẩu</label>
                                    <input type="password" id="password1" name="password1" size="32" maxlength="32" value="" class="ty-input-text cm-autocomplete-off" />
                                </div>

                                <div class="ty-control-group">
                                    <label for="password2" class="ty-control-group__title cm-required cm-password">Xác nhận lại mật khẩu</label>
                                    <input type="password" id="password2" name="password2" size="32" maxlength="32" value="" class="ty-input-text cm-autocomplete-off" />
                                </div>
                                <div class="ty-profile-field__buttons buttons-container">
                                    <button class="ty-btn__secondary ty-btn" type="submit" id="btn_dangky">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    </div>
</div>
