
@{
    ViewBag.Title = "Returns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 breadcrumbs-grid">
                <div id="breadcrumbs_73">

                    <div class="ty-breadcrumbs clearfix">
                        <a href="/Home/Index" class="ty-breadcrumbs__a">Trang chủ</a><span class="ty-breadcrumbs__slash">/</span><span class="ty-breadcrumbs__current">Đổi/Trả hàng</span>
                    </div>

                    <!--breadcrumbs_73-->
                </div>
            </div>
        </div><div class="row-fluid ">
            <div class="span16 main-content-grid">
                <div class="ty-mainbox-container clearfix">
                    <h1 class="ty-mainbox-title">

                        Đổi/Trả hàng


                    </h1>
                    <div class="ty-mainbox-body">
                        <div class="ty-rma-return">


                            <div class="ty-section" id="ds_252935536">
                                <div class="ty-section__title open cm-combination cm-save-state cm-ss-reverse" id="sw_s_02bd5be3772a4009083c4a8a8dd72eca">
                                    <span>Tùy chọn tìm kiếm</span>
                                    <span class="ty-section__switch ty-section_switch_on">Mở<i class="ty-section__arrow ty-icon-down-open"></i></span>
                                    <span class="ty-section__switch ty-section_switch_off">Ẩn<i class="ty-section__arrow ty-icon-up-open"></i></span>
                                </div>
                                <div id="s_02bd5be3772a4009083c4a8a8dd72eca" class="ty-section__body ">
                                    <form action="/Home/Index" name="rma_search_form" method="get" class="ty-rma-search">

                                        <div class="ty-control-group">
                                            <label class="ty-control-group__title" for="qty">Số lượng</label>
                                            <input id="qty" type="text" name="rma_amount_from" value="" size="3" class="ty-input-text-short" />&nbsp;-&nbsp;<input type="text" name="rma_amount_to" value="" size="3" class="ty-input-text-short" />
                                        </div>

                                        <div class="ty-control-group">
                                            <label class="ty-control-group__title" for="r_id">Trả hàng</label>
                                            <input id="r_id" type="text" name="return_id" value="" size="30" class="ty-input-text" />
                                        </div>

                                        <div class="ty-control-group">
                                            <label class="ty-control-group__title">Trạng thái Trả hàng</label>
                                            <div class="ty-rma-search__status">

                                                <div class="ty-status-info">
                                                    <label><input type="checkbox" name="request_status[]" value="A" columns="4" />Approved</label>
                                                    <label><input type="checkbox" name="request_status[]" value="C" columns="4" />Completed</label>
                                                    <label><input type="checkbox" name="request_status[]" value="D" columns="4" />Declined</label>
                                                    <label><input type="checkbox" name="request_status[]" value="R" columns="4" />Requested</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ty-period">
                                            <div class="ty-control-group ty-period__wrapper">
                                                <label class="ty-control-group__title">Thời gian</label>
                                                <select class="ty-period__select" name="period" id="period_selects">
                                                    <option value="A" selected="selected">All</option>
                                                    <optgroup label="=============">
                                                        <option value="D">This day</option>
                                                        <option value="W">This week</option>
                                                        <option value="M">This month</option>
                                                        <option value="Y">This year</option>
                                                    </optgroup>
                                                    <optgroup label="=============">
                                                        <option value="LD">Yesterday</option>
                                                        <option value="LW">Previous week</option>
                                                        <option value="LM">Previous month</option>
                                                        <option value="LY">Previous year</option>
                                                    </optgroup>
                                                    <optgroup label="=============">
                                                        <option value="HH">Last 24 hours</option>
                                                        <option value="HW">Last 7 days</option>
                                                        <option value="HM">Last 30 days</option>
                                                    </optgroup>
                                                    <optgroup label="=============">
                                                        <option value="C">Custom</option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="ty-control-group ty-period__select-date calendar">
                                                <label class="ty-control-group__title">Chọn ngày</label>

                                                <div class="ty-calendar__block">
                                                    <input type="text" id="f_date" name="time_from" class="ty-calendar__input cm-calendar" value="" onchange=&quot;Tygh.$(&#039;#period_selects&#039;).val(&#039;C&#039;);&quot; size="10" />
                                                    <a class="cm-external-focus ty-calendar__link" data-ca-external-focus-id="f_date">
                                                        <i class="ty-icon-calendar ty-calendar__button" title="Calendar"></i>
                                                    </a>
                                                </div>

                                                <script type="text/javascript">
                                                    (function (_, $) {
                                                        $(document).ready(function () {
                                                            $('#f_date').datepicker(
                                                            {
                                                                changeMonth: true,
                                                                duration: 'fast',
                                                                changeYear: true,
                                                                numberOfMonths: 1,
                                                                selectOtherMonths: true,
                                                                showOtherMonths: true,
                                                                firstDay: 1,
                                                                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                                                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                                                yearRange: '2004:2017',
                                                                dateFormat: 'dd/mm/yy'
                                                            });
                                                        });
                                                    }(Tygh, Tygh.$));
                                                </script>
                                                <span class="ty-period__dash">&#8211;</span>

                                                <div class="ty-calendar__block">
                                                    <input type="text" id="t_date" name="time_to" class="ty-calendar__input cm-calendar" value="" onchange=&quot;Tygh.$(&#039;#period_selects&#039;).val(&#039;C&#039;);&quot; size="10" />
                                                    <a class="cm-external-focus ty-calendar__link" data-ca-external-focus-id="t_date">
                                                        <i class="ty-icon-calendar ty-calendar__button" title="Calendar"></i>
                                                    </a>
                                                </div>

                                                <script type="text/javascript">
                                                    (function (_, $) {
                                                        $(document).ready(function () {
                                                            $('#t_date').datepicker(
                                                            {
                                                                changeMonth: true,
                                                                duration: 'fast',
                                                                changeYear: true,
                                                                numberOfMonths: 1,
                                                                selectOtherMonths: true,
                                                                showOtherMonths: true,
                                                                firstDay: 1,
                                                                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                                                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                                                yearRange: '2004:2017',
                                                                dateFormat: 'dd/mm/yy'
                                                            });
                                                        });
                                                    }(Tygh, Tygh.$));
                                                </script>
                                            </div>

                                            <script type="text/javascript" src="~/Scripts/period_selector.js"></script>
                                            <script type="text/javascript">
                                                Tygh.$(document).ready(function () {
                                                    Tygh.$('#period_selects').cePeriodSelector({
                                                        from: 'f_date',
                                                        to: 't_date'
                                                    });
                                                });
                                            </script>
                                        </div>

                                        <div class="ty-rma-search__toggle cm-combination cm-save-state cm-ss-reverse" id="sw_s_show_options">
                                            <span class="ty-rma-search__toggle-title">Tìm theo đơn hàng<i id="on_s_show_options" class="ty-rma-search__toggle-icon ty-icon-down-open"></i><i id="off_s_show_options" class="ty-rma-search__toggle-icon ty-icon-up-open hidden"></i></span>
                                        </div>

                                        <div id="s_show_options" class="rma-options hidden">
                                            <div class="ty-control-group">
                                                <label class="ty-control-group__title" for="r_id">Đơn hàng&nbsp;ID</label>
                                                <input type="text" name="order_id" value="" size="30" class="ty-input-text" />
                                            </div>

                                            <div class="ty-control-group">
                                                <label class="ty-control-group__title" for="r_id">Trang thái đơn hàng</label>
                                                <div class="ty-rma-search__status">

                                                    <div class="ty-status-info">
                                                        <label><input type="checkbox" name="order_status[]" value="A" columns="4" />Đã Xác Nhận</label>
                                                        <label><input type="checkbox" name="order_status[]" value="B" columns="4" />Backordered</label>
                                                        <label><input type="checkbox" name="order_status[]" value="C" columns="4" />Hoàn tất</label>
                                                        <label><input type="checkbox" name="order_status[]" value="D" columns="4" />Từ chối</label>
                                                        <label><input type="checkbox" name="order_status[]" value="E" columns="4" />Đang giao hàng</label>
                                                        <label><input type="checkbox" name="order_status[]" value="F" columns="4" />Thanh toán thất bại</label>
                                                        <label><input type="checkbox" name="order_status[]" value="G" columns="4" />Nhận Tại Văn Phòng</label>
                                                        <label><input type="checkbox" name="order_status[]" value="H" columns="4" />Không liên lạc được</label>
                                                        <label><input type="checkbox" name="order_status[]" value="I" columns="4" />Hủy</label>
                                                        <label><input type="checkbox" name="order_status[]" value="J" columns="4" />Trả hàng</label>
                                                        <label><input type="checkbox" name="order_status[]" value="K" columns="4" />Chưa hoàn tất</label>
                                                        <label><input type="checkbox" name="order_status[]" value="L" columns="4" />Complaint</label>
                                                        <label><input type="checkbox" name="order_status[]" value="M" columns="4" />Gọi lại sau</label>
                                                        <label><input type="checkbox" name="order_status[]" value="O" columns="4" />Đang xử lý</label>
                                                        <label><input type="checkbox" name="order_status[]" value="P" columns="4" />Đã thanh toán</label>
                                                        <label><input type="checkbox" name="order_status[]" value="Q" columns="4" />Đã Giao</label>
                                                        <label><input type="checkbox" name="order_status[]" value="Y" columns="4" />Chưa gọi</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ty-rma-search__buttons buttons-container">


                                            <button class="ty-btn__secondary ty-btn" type="submit" name="dispatch[rma.returns.]">Tìm kiếm</button>


                                        </div>
                                    </form>
                                </div>
                            </div>
                            <form action="/Home/Index" method="post" name="rma_list_form">

                                <div class="ty-pagination-container cm-pagination-container" id="pagination_contents">






                                    <table class="ty-table ty-rma-return__table">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%"><a class="" href="http://hasasa.vn/index.php?dispatch=rma.returns&amp;sort_by=return_id&amp;sort_order=asc" data-ca-target-id="pagination_contents">ID</a></th>
                                                <th style="width: 13%"><a class="" href="http://hasasa.vn/index.php?dispatch=rma.returns&amp;sort_by=status&amp;sort_order=asc" data-ca-target-id="pagination_contents">Trang thái</a></th>
                                                <th style="width: 35%"><a class="" href="http://hasasa.vn/index.php?dispatch=rma.returns&amp;sort_by=customer&amp;sort_order=asc" data-ca-target-id="pagination_contents">Khách hàng</a></th>
                                                <th style="width: 20%"><a class="" href="http://hasasa.vn/index.php?dispatch=rma.returns&amp;sort_by=timestamp&amp;sort_order=asc" data-ca-target-id="pagination_contents">Ngày</a><i class="ty-icon-up-dir"></i></th>
                                                <th style="width: 5%"><a class="" href="http://hasasa.vn/index.php?dispatch=rma.returns&amp;sort_by=order_id&amp;sort_order=asc" data-ca-target-id="pagination_contents">Đơn hàng&nbsp;ID</a></th>
                                                <th style="width: 5%"><a class="" href="http://hasasa.vn/index.php?dispatch=rma.returns&amp;sort_by=amount&amp;sort_order=asc" data-ca-target-id="pagination_contents">Số lượng</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="ty-table__no-items">
                                                <td colspan="6"><p class="ty-no-items">Chưa có yêu cầu hoàn trả nào</p></td>
                                            </tr>
                                        </tbody>
                                    </table>



                                    <!--pagination_contents-->
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
