
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 main-content-grid">
                <div id="breadcrumbs_73">

                    <div class="ty-breadcrumbs clearfix">
                        <a href="/Home/Index" class="ty-breadcrumbs__a">Trang chủ</a><span class="ty-breadcrumbs__slash">/</span><span class="ty-breadcrumbs__current">Đơn hàng đã được đặt thành công</span>
                    </div>

                    <!--breadcrumbs_73-->
                </div><div class="ty-mainbox-container clearfix">
                    <h1 class="ty-mainbox-title">

                        Đơn hàng


                    </h1>
                    <div class="ty-mainbox-body">
                        <div class="ty-checkout-complete__order-success">
                            <p>
                                <div style="font-size: 32px; text-align: center; color: #2ECC71;">
                                    Đơn hàng đã được đặt thành công. 
                                </div>
                                <br />
                                Cám ơn bạn đã mua hàng tại <strong>Thuyhaisancamau.com</strong>. Chúng tôi sẽ liên hệ bạn để xác nhận lại đơn hàng trong thời gian sớm nhất. Đơn hàng sẽ được tiến hành giao trong <strong>12-36 tiếng</strong> kể từ khi xác nhận đơn hàng.
                                
                            </p>
                        </div>

                        <div class="ty-checkout-complete__login-info ty-checkout-complete_width_full">
                           </div>
                       <div class="ty-checkout-complete__buttons buttons-container  ty-mt-s">
                            <div class="ty-checkout-complete__buttons-left">
                               
                                <a href="@Url.Action("Order","User")" class="ty-btn ty-btn__secondary ">Danh sách đơn hàng</a>

                            </div>
                            <div class="ty-checkout-complete__buttons-right">


                                <a class="ty-btn ty-btn__secondary text-button" href="@Url.Action("Index","Home")">Tiếp tục mua hàng</a>


                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>