@using webanhnguyen.Models
@{
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}<div class="ck-main">
    <div class="ck-menu">
        <ul class="ck-menuul">
            <li class=""><a href="javascript:;" title=""><span>1</span> Nhập thông tin mua hàng</a></li>
            <li class="ck-mnli2 active"><a href="javascript:;" title=""><span>2</span> Hoàn tất mua hàng online</a> </li>
        </ul>
    </div>
    <div class="tab-content">
       
        <div class="tab-pane active" id="tab2" style="display: block;">

            <div class="ck-tab2-s1">
                <div class="ck-tab2-s1ok">
                    <p class="ck-tab2-s1i"><img src="~/Content/v2/images/icon-ok.png" alt="@ViewBag.shoptitle"></p>
                    <p>Đặt hàng thành công!</p>
                </div>
                
                <p class="ck-tab2-s1tha">Cám ơn bạn đã mua sắm tại cửa hàng của chúng tôi. Hy vọng bạn hài lòng với những sản phẩm đã mua.</p>
                <div class="ck-tab2-btn clearfix">
                    <a href="@Url.Action("Index","Home")" class="ck-tab2-btnrep">quay lại trang chủ</a>
                </div>
            </div>
            <div class="ckt-footer">
                <p class="ckt2-fcall">Nếu bạn có thắc mắc thêm về sản phẩm, xin hãy gọi ngay tổng đài <strong>01669380986</strong> hoặc email <span class="ckt2-fem">lkimlyen2912@gmail.com</span></p>
                <p class="ckt2-fcall">Đội ngũ Chăm sóc Khách hàng chúng tôi luôn sẵn sàng hỗ trợ bạn mỗi ngày.</p>
                <p class="ckt2-fthank">CÁM ƠN BẠN ĐÃ LỰA CHỌN CHÚNG TÔI HÔM NAY!  </p>
            </div>

         
         
        </div>
    </div>
</div>