
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="modal fade ck2-s2pop in" id="ktrCtyOk" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="ck2-s2pophder">
                <span class="ck2-s2popclose" data-dismiss="modal">✕</span>
                <h4>THÔNG BÁO HOÀN THÀNH</h4>
            </div>

            <div class="modal-body">
                <div class="ck2-s2popmain">
                    <p class="ck2-s2pop-l3">Cảm ơn bạn đã để lại thông tin</p>
                    <p class="ck2-s2pop-l4">Chúng tôi sẽ liên lạc với bạn trong vòng 15 phút để trao đổi chi tiết</p>

                    <ul class="ck2-s2pop-ul ck2-s2pop-uls2">
                        <style>
                        </style>

                        <li class="ck2-s2pop-btnt2 clearfix">
                            <p class="ck2-s2pop-btn1"><a class="ck2-s2pop-ttk btn btn-default" href="/gio-hang/them-vao-don-hang?product=13302" title="">Thanh toán bằng phương thức khác</a></p>
                            <p class="ck2-s2pop-btn2"><a href="/" class="ck2-s2pop-gui btn btn-danger">Quay lại mua sắm</a></p>
                        </li>
                    </ul>
                </div>

                <div class="clearfix">
                    <a class="ck2-s2pop-lg" href="" title=""><img src="/gio-hang/Content/v2/images/flogo.png"></a>
                    <div class="ck2-s2pop-call">
                        <label>Tư vấn miễn phí <strong>1800 6601</strong></label>
                        <p>Chọn nhánh số 3</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
/div>